{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_currency_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_currency_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'currency.id') }}<i class="fas fa-sort"></i></th>
                <th>{{ knp_pagination_sortable(pagination, 'label_currency'|trans, 'currency.name') }}<i class="fas fa-sort"></i></th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for currency in pagination.items %}
                <tr>
                    <td>{{ currency.id }}</td>
                    <td>{{ currency.name }}</td>
                    <td>
                        <a href="{{ url('currency_show', {id: currency.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }} <i class="far fa-eye"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}