{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_currency_details'|trans({'%id%': currency.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_currency_details'|trans({'%id%': currency.id|default('')}) }}</h1>
    {% if currency is defined and currency|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ currency.id }}</dd>
            <dt>{{ 'label_currency'|trans }}</dt>
            <dd>{{  currency.name }}</dd>
        </dl>
        <p>
            <a href="{{ url('currency_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}