{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_operations_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_operations_list'|trans }} <a class="add-item" href="{{ url('operation_create') }}" title="action_operation_create"><i class="fas fa-plus-circle"></i></a></h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'operation.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_operation_name'|trans, 'operation.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_operation_time'|trans, 'operation.time') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_operation_value'|trans, 'operation.value') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_category'|trans, 'category.name' )}}</th>
                <th>{{ 'label_tags'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for operation in pagination.items %}
                <tr>
                    <td>{{ operation.id }}</td>
                    <td>{{ operation.name }}</td>
                    <td>{{ operation.time|format_date('long') }}</td>
                    <td>{{ (operation.value/100)|number_format(2, '.', ' ') }}</td>
                    <td>{{ operation.category.name }}</td>
                    <td>
                        {% if operation.tags is defined and operation.tags|length %}
                            {% for tag in operation.tags %}
                                {{ tag.name }}
                                {% if not loop.last %}
                                    {{ '| ' }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url('operation_show', {id: operation.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }} <i class="far fa-eye"></i>
                        </a>
                        <a class="edit" href="{{ url('operation_edit', {id: operation.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'action_edit'|trans }} <i class="fas fa-edit"></i>
                        </a>
                        <a class="delete" href="{{ url('operation_delete', {id: operation.id}) }}" title="{{ 'action_delete'|trans }}">
                            {{ 'action_delete'|trans }} <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>


    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}