{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_operation_details'|trans({'%id%': operation.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_operation_details'|trans({'%id%': operation.id|default('')}) }}</h1>
    {% if operation is defined and operation|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>#{{ operation.id }}</dd>
            <dt>{{ 'label_operation_name'|trans }}</dt>
            <dd>{{ operation.name }}</dd>
            <dt>{{ 'label_operation_time'|trans }}</dt>
            <dd>{{ operation.time|format_datetime('long') }}</dd>
            <dt>{{ 'label_operation_value'|trans }}</dt>
            <dd>{{  (operation.value/100)|number_format(2, '.', ' ') }}</dd>
            <dt>{{ 'label_operation_category'|trans }}</dt>
            <dd>{{  operation.category.name }}</dd>
            <dt>{{ 'label_operation_tags'|trans }}</dt>
            <dd>
                {% if operation.tags is defined and operation.tags|length %}
                    <ul>
                    {% for tag in operation.tags %}
                        <li>
                            {{ '#' }}{{ tag.name }}
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    -
                {% endif %}
            </dd>
        </dl>
        <p>
            <a href="{{ url('operation_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}