{% extends 'base.html.twig' %}

{% block title %}{{ 'title_login'|trans }}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger message-box">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <h1>
            {{ 'message_logged_in_as'|trans }} <span class="username">{{ app.user.username }}</span>
        </h1>
        <p>{{ 'message_logged_in_description'|trans }}</p>
        <img class="img-big" src="{{ asset('images/undraw_make_it_rain.svg') }}" alt="{{ 'image_man_with_wallet'|trans }}">
    {% else %}
    <h1>{{ 'message_login'|trans }}</h1>
    <label for="inputEmail">{{ 'label_email'|trans }}</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">{{ 'label_password'|trans }}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary sign" type="submit">
        {{ 'button_sign_in'|trans }}
    </button>

</form>
        <p>
            {{ 'message_no_account_yet'|trans }}
            <a href="{{ url('app_register') }}"> {{ 'register'|trans }}</a>
        </p>

        <img class="img-big" src="{{ asset('images/undraw_secure_login.svg') }}" alt="{{ 'image_login'|trans }}">

    <div class="passwords container-fluid">
        <div><h2>{{ 'test_users'|trans }}</h2></div>
            <dl>
                <dt>
                    {{ 'test_users_logins'|trans }}
                </dt>
                <dd>
                    <ul>
                        <li>user0@example.com</li>
                        <li>user1@example.com</li>
                        <li>user2@example.com</li>
                        <li>user3@example.com</li>
                        <li>user4@example.com</li>
                    </ul>
                </dd>
                <dt>
                    {{ 'test_users_password'|trans }}
                </dt>
                <dd>
                    <ul>
                        <li>user1234</li>
                    </ul>
                </dd>
                <dt>
                    {{ 'test_admins_logins'|trans }}
                </dt>
                <dd>
                    <ul>
                        <li>admin0@example.com</li>
                        <li>admin1@example.com</li>
                        <li>admin2@example.com</li>
                    </ul>
                </dd>
                <dt>
                    {{ 'test_admins_password'|trans }}
                </dt>
                <dd>
                    <ul>
                        <li>admin1234</li>
                    </ul>
                </dd>
            </dl>
    </div>
    {% endif %}
{% endblock %}
