{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_wallet_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_wallet_list'|trans }} <a class="add-item" href="{{ url('wallet_create') }}" title="{{ 'action_wallet_create'|trans }}"><i class="fas fa-plus-circle"></i></a></h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'wallet.id') }}<i class="fas fa-sort"></i></th>
                <th>{{ knp_pagination_sortable(pagination, 'label_wallet'|trans, 'wallet.name') }}<i class="fas fa-sort"></i></th>
                <th>{{ knp_pagination_sortable(pagination, 'label_currency'|trans, 'currency.name' )}}<i class="fas fa-sort"></i></th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for wallet in pagination.items %}
                <tr>
                    <td>{{ wallet.id }}</td>
                    <td>{{ wallet.name }}</td>
                    <td>{{ wallet.currency.name }}</td>
                    <td>
                        <a class="view-operations" href="{{ url('operation_index', {'filters.wallet_id' : wallet.id}) }}" title="{{ 'action_view_operations'|trans }}: {{ wallet.name }}">
                            {{ 'action_view_operations'|trans }} <i class="fas fa-list"></i>
                        </a>
                        <a href="{{ url('wallet_show', {id: wallet.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }} <i class="far fa-eye"></i>
                        </a>
                        <a class="edit" href="{{ url('wallet_edit', {id: wallet.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'action_edit'|trans }} <i class="fas fa-edit"></i>
                        </a>
                        <a class="delete{% if wallet.operations|length %} disabled{% endif %}" href="{{ url('wallet_delete', {id: wallet.id}) }}" title="{{ 'action_delete'|trans }}">
                            {{ 'action_delete'|trans }} <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}





            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}