{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_wallet_details'|trans({'%id%': wallet.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_wallet_details'|trans({'%id%': wallet.id|default('')}) }}</h1>
    {% if wallet is defined and wallet|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ wallet.id }}</dd>
            <dt>{{ 'label_wallet'|trans }}</dt>
            <dd>{{  wallet.name }}</dd>
            <dt>{{ 'label_currency'|trans }}</dt>
            <dd>{{  wallet.currency.name }}</dd>
            <dt>{{ 'label_balance'|trans }}</dt>
            <dd>{{ (wallet.balance/100)|format_currency(wallet.currency.name) }}</dd>
        </dl>
        <p>
            <a href="{{ url('wallet_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}