<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
            <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}">
        {% endblock %}
    </head>
    <body>
    <div class="message-box">
        {% include 'default/_flash_messages.html.twig' %}
    </div>
        <div class="container-fluid">
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a href="{{ url('index') }}" class="navbar-brand"><i class="far fa-wallet"></i> wallet-app</a>
                    {% if app.user %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="{{ url('index') }}"><i class="fas fa-home"></i> {{ 'menu_home'|trans }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url('wallet_index') }}"><i class="fas fa-wallet"></i> {{ 'menu_wallets'|trans }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url('operation_index') }}"><i class="fas fa-money-bill-wave"></i> {{ 'menu_operations'|trans }}</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item"><a class="nav-link" href="{{ url('category_index') }}"><i class="fas fa-tags"></i> {{ 'menu_categories'|trans }}</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{{ url('currency_index') }}"><i class="fas fa-dollar-sign"></i> {{ 'menu_currencies'|trans }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url('about_index') }}"><i class="far fa-question-circle"></i> {{ 'menu_about'|trans }} </a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item"><a class="nav-link" href="{{ url('user_index') }}"><i class="fas fa-users-cog"></i> {{ 'administration'|trans }} </a></li>
                        {% endif %}
                    </ul>

                        <a class="profile" href="{{ path('user_show', {'id': app.user.id}) }}" title="{{ 'my_profile'|trans }}"><i class="fas fa-user"></i> {{ app.user.username }}</a>
                        <a class="logout" href="{{ url('app_logout') }}" title="{{ 'message_logout'|trans }}"><i class="fas fa-sign-out-alt"></i></a>

                    {% endif %}
                </nav></header>
            <main class="main">
                {% block body %}{% endblock %}
            </main>
        </div>
    {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
